<p>
    @Html.LocalizationString("total_item_count") @Model.TotalCount
</p>

<ul class="pagination">
    @if (Model.HasPreviousPage)
    {
        <li><a href="/@(Model.Number-1)">&laquo;</a></li>
    }

    <li><a href="#">@Model.Number</a></li>

    @if (Model.HasNextPage)
    {
        <li><a href="/@(Model.Number+1)">&raquo;</a></li>
    }
</ul>

